.tab{
    min-height: 10%;
    height: auto;
    width: 80%;
    background-color: rgb(182, 241, 245);
    border-radius: 10px;
    min-height: 20px;
    padding: 2%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}